<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dgtechhealthcare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DGTechHealthCare">
        <activity
            android:name=".utils.ViewImageActivity"
            android:exported="true" />
        <activity
            android:name=".view.ContentManagerDrawerNavigationActivity"
            android:exported="true" />
        <activity
            android:name=".view.PharmacistDrawerNavigationActivity"
            android:exported="true" />
        <activity
            android:name=".view.NurseDrawerNavigationActivity"
            android:exported="true" />
        <activity
            android:name=".view.DoctorDrawerNavigationActivity"
            android:exported="true" />
        <activity
            android:name=".view.PatientDrawerNavigationActivity"
            android:exported="true" />
        <activity
            android:name=".utils.ViewPdfActivity"
            android:exported="true" />
        <activity
            android:name=".nurse.view.NurseNavigationActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SetupActivity"
            android:exported="true" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".SignInActivity"
            android:exported="true" />
        <activity
            android:name=".utils.MainActivity"
            android:exported="true" />

        <service
            android:name=".pushNotification.FirebaseNotificationService"
            android:permission="com.google.android.c2dm.permission.SEND">
            android:enabled="true"
            android:exported="true"
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>